header {
  background-color: var(--gray-700);
  width: 100%;
  min-height: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -1rem
}

.create input {
  padding: 0.5rem;
  border-radius: 4px;
}

.create button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  border-radius: 4px;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  cursor: pointer;
}

.tasks {
  width: 46rem;
  margin: auto;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}